#go-back-btn-div{
    width: 100%;
    max-height: 15dvh;
    min-height: 10dvh;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
}
#go-back-btn{
    height: 4dvh;
    width: 6rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    border: none;
    background: none;
    text-align: center;
    padding: 0.5rem;
    }